%tr
  %td= image_tag logbook.photo.url(:thumb), size: '70', class: 'img-responsive'
  %td= logbook.first_name
  %td= logbook.second_name
  %td
    = form_for @visit do |f|
      = hidden_field_tag :select_logbook, logbook.id
      .row
        .col-md-5
          = select_offices
        .col-md-4
          = select_staff
        .col-md-3
          = f.submit 'Registrar', class: 'btn btn-success btn-xs'