.content-logbooks
  .container
    .row
    = form_for @logbook, html: {role: :form, 'data-model' => 'logbook'} do |f|
      .col-md-4
        %h3 Nuevo registro
        .form-group
          = f.label 'Nombre:'
          = f.text_field :first_name, class: 'form-control'
          %span.help-block
        .form-group
          = f.label 'Apellidos:'
          = f.text_field :second_name, class: 'form-control'
          %span.help-block
        .form-group
          .row
            .col-md-4
              = f.label 'Foto'
              %br
              %button.btn.btn-primary.btn-lg{"data-target" => "#camwebPhoto", "data-toggle" => "modal", :type => "button"} Capturar
              = f.hidden_field :photo
              %span.help-block
            .col-md-8
              = image_tag nil, class: 'img-responsive', id: 'logbook_photo_preview'
        .form-group
          .row
            .col-md-4
              = f.label 'Credencial'
              %br
              %button.btn.btn-primary.btn-lg{"data-target" => "#camwebCredential", "data-toggle" => "modal", :type => "button"}Capturar
              = f.hidden_field :credential
              %span.help-block
            .col-md-8
              = image_tag nil, class: 'img-responsive', id: 'logbook_credential_preview'

        = f.submit 'Guardar', class: 'btn btn-default btn-lg btn-block'
      .col-md-8

= render partial: 'camweb_modal', locals: { name: 'Photo' }
= render partial: 'camweb_modal', locals: { name: 'Credential' }

= content_for :javascripts do
  :javascript
    new App.Utils.FormLogbook();

    var camwebPhoto = new App.Utils.CamWebPhoto();
    var camwebCredential = new App.Utils.CamWebCredential();

    $('#camwebPhoto').on('show.bs.modal', function (e) {
      camwebPhoto.init();
    });

    $('#camwebCredential').on('show.bs.modal', function (e) {
      camwebCredential.init();
    });