%tr
  %td= image_tag visit.logbook.try(:photo).try(:url), size: '100', class: 'img-responsive'
  %td= visit.try(:logbook).try(:full_name)
  %td= visit.try(:office).try(:name)
  %td= visit.try(:staff).try(:name)
  %td= visit.register_at.strftime('%Y-%m-%d %H:%M')
  %td= visit.output_at.strftime('%Y-%m-%d %H:%M')
