!!!
%html
  %head
    %title= yield(:title).empty? ? 'Registro' : yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navbar'
    .container
      .row
        .col-md-12= render 'layouts/messages'
    = yield
    = yield :javascripts